html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 20px;
  background-image: url("/Images/white_fabric.jpg");
}

.background{
    background-color: whitesmoke;
    padding: 30px;
    margin-top: 35px;
}

.itempics {
    width: 380px;
    height: 380px;
    object-fit: scale-down;
    object-position: center;
    flex-shrink: 0;
    cursor: pointer;
    transition: transform 0.2s;
}

.addItemButton {
    font-size: 16px;
    font-weight: 500;
    margin-top: 55px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px;
    background-color: #CABA9C;
    opacity: 0.9;
}

.display-4{
    font-family: Arial, Helvetica, sans-serif;
    font: italic 200;
    color: whitesmoke;
}

#forNewItem {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    padding: 5px;
    background-color: #ff7f50;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-block-color: white;
    border-block-end-style: solid;
}

#forNewItemOverlay {
    padding: 15px;
    background-color: #CABA9C;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1000;
    width: 550px;
    height: auto;
    overflow: auto;
    font-weight: 550;
}

.in{
    width: 90%;
}
