@page
@model CrazyCloset.Pages.ClosetSummaryModel
@{
	ViewData["Title"] = "Summary";
}


<div>
	<h1>Closet Summary:</h1>
	@foreach(var category in Model.CategoryCounts)
	{
		<div >
			<h3 onclick="showCategoryPopup('@category.Category')" style="color: whitesmoke">@category.Category</h3>
			<p>Count: @category.Count</p>
		</div>
	}
</div>

<div id="categoryPopup" style="display: none;">
	<div id="categoryGrid"></div>
	<button onclick="document.getElementById('categoryPopup').style.display='none'">Close</button>
</div>

<script>
	const items = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Items));
</script>
<script src="~/js/summary.js"></script>
