@page
@model IndexModel
@{
    ViewData["Title"] = "Wardrobe";
}

<div class="text-center">
    <h1 class="display-4">What are you gonna wear today?</h1>
    <div class="background">
        <button onclick="previousImage()">◀</button>
            <img id="carouselImage1" class="itempics" />
            <img id="carouselImage2" class="itempics" />
            <img id="carouselImage3" class="itempics" />
        <button onclick="nextImage()">▶</button>
        <p id="imageCounter"></p>
    </div>
</div>

<button id="addItemButton" class="addItemButton" onclick="document.getElementById('forNewItem').style.display='flex'">Add New Item</button>

<div id="forNewItem">
    <div id="forNewItemOverlay">
        <h2>Add a new item</h2>
        <form id="newItemForm" method="post" enctype="multipart/form-data">
            <label class="lab">Name: </label> <br>
            <input type="text" class="in" name="Name" required><br>
            <label class="lines">Description: </label> <br>
            <input type="text" class="in" name="Description"><br>
            <label class="lines">Season: </label> <br>
            <input type="text" class="in" name="Season"><br>
            <label class="lines">Arrived: </label> <br>
            <input type="text" class="in" name="Age"><br>

            <input type="file" name="Picture" accept="image/*" onchange="previewImage(event)"><br>
            <img id="imagePreview" style="max-width: 150px; display: none;">
            <br>
         
            <button type="submit">Save</button>
            <button type="button" onclick="document.getElementById('forNewItem').style.display ='none'">Close</button>
    </form>
    </div>
   </div>

<script>
    function previewImage(event) {
        const image = document.getElementById('imagePreview');
        image.src = URL.createObjectURL(event.target.files[0]);
        image.style.display = 'block';
    }

    const images = @Html.Raw(
    System.Text.Json.JsonSerializer.Serialize(
        Model.ClothingPictures.Select(p => "/items/" + p)
    ));

     let startIndex = 0;

    function showImages() {
    document.getElementById('carouselImage1').src = images[startIndex];
    document.getElementById('carouselImage2').src = images[startIndex + 1];
    document.getElementById('carouselImage3').src = images[startIndex + 2];
    }

    
    document.addEventListener('DOMContentLoaded', showImages);

    function nextImage() {
    startIndex = (startIndex + 1) % images.length;
    showImages();
    }

    function previousImage() {
        startIndex = (startIndex - 1 + images.length) % images.length;
        showImages();
    }

</script>