@page
@model IndexModel
@{
	ViewData["Title"] = "Wardrobe";
}

<div class="text-center">

	<div id="carouselToolTip" style="position: absolute; display: none; background: #CABA9C; border: 1px solid #ccc; padding: 10px; border-radius: 2px; pointer-events: none; z-index: 1000;"></div>

	<h1 class="display-4">What are you gonna wear today?</h1>
	<div class="background">
		<button onclick="previousImage()">◀</button>
		<div class="item-wrapper">
			<img id="carouselImage1" class="itempics" />
			<div class="checkin-btn" id="checkInBtn1">✓</div>
		</div>
		<div class="item-wrapper">
			<img id="carouselImage2" class="itempics" />
			<div class="checkin-btn" id="checkInBtn2">✓</div>
		</div>
		<div class="item-wrapper">
			<img id="carouselImage3" class="itempics" />
			<div class="checkin-btn" id="checkInBtn3">✓</div>
		</div>
		<button onclick="nextImage()">▶</button>
		<p id="imageCounter"></p>

		<div class="searchField">
			<input id="search" placeholder="Choose your armour ;)" />
			<button id="searchButton">⌕</button>
		</div>

	</div>
</div>

<button id="addItemButton" class="addItemButton" onclick="document.getElementById('forNewItem').style.display='flex'">Add New Item</button>

<div id="forNewItem">
	<div id="forNewItemOverlay">
		<h2>Add a new item</h2>
		<form id="newItemForm" method="post" enctype="multipart/form-data">
			<label class="lab">Name: </label> <br>
			<input type="text" class="in" name="Name" required><br>

			<label class="lines">Description: </label> <br>
			<input type="text" class="in" name="Description"><br>

			<label for="Season" class="lines">Season: </label> <br>
			<select class="in" name="Season" id="Season">
				<option value="Undefined"> </option>
				<option value="Spring">Spring</option>
				<option value="Summer">Summer</option>
				<option value="Fall">Fall</option>
				<option value="Winter">Winter</option>
				<option value="All Seasons">All Seasons</option>
			</select><br>

			<label class="lines">Arrived: </label> <br>
			<input type="date" class="in" name="ArrivedDate"><br>

			<label for="Category" class="lines">Category: </label> <br>
			<select class="in" name="Category" id="Category">
				<option value="Undefined"> </option>
				<option value="Tops">Tops</option>
				<option value="Bottoms">Bottoms</option>
				<option value="Dress">Dress</option>
				<option value="Outerwear">Outerwear</option>
				<option value="Footwear">Footwear</option>
				<option value="Accessories">Accessories</option>
				<option value="Sport">Sport</option>
				<option value="Other">Other</option>
			</select><br>

			<label class="lines">Size: </label> <br>
			<select class="in" name="Size" id="Size">
				<option value="Undefined"> </option>
				<option value="XXS">XXS</option>
				<option value="XS">XS</option>
				<option value="S">S</option>
				<option value="M">M</option>
				<option value="L">L</option>
				<option value="XL">XL</option>
			</select>
			<br>
			<br>

			<input type="file" name="ImageFile" accept="image/*" onchange="previewImage(event)"><br>
			<img id="imagePreview" style="max-width: 150px; display: none;">
			<br>

			<button type="submit">Save</button>
			<button type="button" onclick="document.getElementById('forNewItem').style.display ='none'">Close</button>
		</form>
	</div>
</div>

<div id="forDisplayAndEdit">
	<div id="forDisplayAndEditOverlay">
		<h2>Edit or Delete?</h2>
		<form id="editingItemForm" method="post" enctype="multipart/form-data">
			<label class="lab">Name: </label> <br>
			<input type="text" class="in" name="Name" required><br>

			<label class="lines">Description: </label> <br>
			<input type="text" class="in" name="Description"><br>

			<label for="Season" class="lines">Season: </label> <br>
			<select class="in" name="Season" id="editSeason">
				<option value="Undefined"> </option>
				<option value="Spring">Spring</option>
				<option value="Summer">Summer</option>
				<option value="Fall">Fall</option>
				<option value="Winter">Winter</option>
				<option value="All Seasons">All Seasons</option>
			</select><br>

			<label class="lines">Arrived: </label> <br>
			<input type="date" class="in" name="ArrivedDate"><br>

			<label for="Category" class="lines">Category: </label> <br>
			<select class="in" name="Category" id="editCategory">
				<option value="Undefined"> </option>
				<option value="Tops">Tops</option>
				<option value="Bottoms">Bottoms</option>
				<option value="Dress">Dress</option>
				<option value="Outerwear">Outerwear</option>
				<option value="Footwear">Footwear</option>
				<option value="Accessories">Accessories</option>
				<option value="Sport">Sport</option>
				<option value="Other">Other</option>
			</select><br>

			<label class="lines">Size: </label> <br>
			<select class="in" name="Size" id="editSize">
				<option value="Undefined"> </option>
				<option value="XXS">XXS</option>
				<option value="XS">XS</option>
				<option value="S">S</option>
				<option value="M">M</option>
				<option value="L">L</option>
				<option value="XL">XL</option>
			</select>
			<br>
			<br>
			<input type="file" name="ImageFile" accept="image/*" onchange="previewEditImage(event)"><br>
			<img id="editImagePreview" style="max-width: 150px; display: none;">
			<img id="currentItemImage" style="max-width: 150px; height: auto; margin: 5px 2px" />
			<input type="hidden" id="editItemId" name="Id" />
		</form>


		<form id="deleteItemForm" method="post">
			<input type="hidden" id="deleteItemId" name="id" />
		</form>

		<div style="display: flex; gap: 8px">
			<button type="submit" form="editingItemForm" asp-page-handler="Edit">Save</button>
			<button type="button" onclick="document.getElementById('forDisplayAndEdit').style.display='none'">Close</button>
			<button type="submit" form="deleteItemForm" asp-page-handler="Delete" onclick="return confirm('You are deleting item. Are you sure?')">Delete</button>
		</div>
	</div>
</div>

<form id="checkInForm" method="post" asp-page-handler="CheckIn">
	<input type="hidden" id="checkInId" name="id" />
</form>

<!-- pop up window for search results -->
<div id="searchResults" style="display: none;">
	<div id="searchResultsGrid"></div>
	<button id="closeSearchResults">Close</button>
</div>

<script>
	const items = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Items));
</script>
<script src="~/js/index.js"></script>